.ShowData-container{
    border: solid 1px rgba(0,0,0,0.25);
    margin: 20px 10px;
    padding: 5.5px;
    box-shadow: 0 0 5px;
}

.ShowData-f{
    display: flex;
    margin: 10px 0;
    font-size: larger;
    font-weight: bolder;
}
.Research{
    display: flex;
    flex-direction: column;
}
.Research input{
    height: 30px;
    font-weight: bolder;
    padding: 0 5px;
}
.Show-btn{
    margin: 20px;
}
.Show-btn button{
    width: 100px;
    height: 30px
}

.Show-Date{
    font-size: larger;
    font-weight: bolder;
    min-height: 30px;
}

.Show-Table{
    width: 100%;
    border-top: solid 2px black;
    padding: 0.5rem;
    background-color: white;
}
.Th-row, .Tb-row{display: flex;}
.Th-col, .Tb-col{
    min-height: 30px;
    display: flex;
    align-items: center;
    padding-left: 5px;
}
.Tb-col{
    border-right: solid 1px rgba(0,0,0,0.2);
    margin-top: 10px;
}

.col1{width: 50px}
.col2{width: 150px}
.col3{width: 100px;}
.col4{width: 100px;}
.col5{width: 100px;}